* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    width: calc(100vw - 4%);
    margin: 0 2%;
}

.modal-body {
    height: 400px;
}

.msg-panel {
    height: calc(100vh - 120px);
}
